<a href="https://colab.research.google.com/github/AndreiAporado/CCINCOML_EXERCISES_COM23P/blob/main/Aporado__exercise6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 6

## Lists

1. Create a list

- The name of the new list should be  `month`

- The list should contain all the months in a year (January, February, March, April, May, June, July, August, September, October, November, December)

In [ ]:
# put your answer here
month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

2. Display an element

- Display the fourth element 'April' in the `month` list

In [ ]:
# put your answer here
month [3]

'April'

3. Slice the list

- Use slicing to get the last 4 months of the year of (September, October, November, December) of the `month` list

In [ ]:
# put your answer here
month [8:12]

['September', 'October', 'November', 'December']

- Use slicing to get the first 4 months of the year (January, February, March, April) of the `month` list

In [ ]:
# put your answer here
month[0:4]

['January', 'February', 'March', 'April']

4. List Methods

- Get the size of the month list using the `len()` method

In [ ]:
# put your answer here
print(len(month))

12

- Get the element with the largest value of the month list using `max()`

In [ ]:
# put your answer here
print(max(month))

September

- Get the element with the smallest value of the month list using `min()`

In [ ]:
# put your answer here
print(min(month))

April

- Sort the months of the year by alphabetical order using the `sorted()` function

In [10]:
# put your answer here

print(sorted(month))

['April', 'August', 'December', 'February', 'January', 'July', 'June', 'March', 'May', 'November', 'October', 'September']

## Tuple

1. Create a tuple with only three elements, the elements are:

- Your month of birth in integers
- Your day of birth in integers
- Your year of birth in integers

Use tuple unpacking to directly assign the month, day, year variable to each elements in your tuple.

In [15]:
# put your answer here
month, day, year = (7, 8, 2005)

print ("month:" + str(month))
print ("day:" + str(day))
print ("year:" + str(year))

month:7
day:8
year:2005

## Set

1. The list below contains a number of a products of a computer store. Notice that there are duplicate values.

In [26]:
products = ["laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]

The difference between a list and a set is that a list allows duplicate values. One way to remove duplicates is to convert a list into a set.

Convert the `products` list into a set

In [27]:
# put your answer here
print (set(products))

{'smartphone', 'keyboard', 'speakers', 'mouse', 'headphones', 'printer', 'laptop', 'projector', 'powerbank', 'monitor', 'tablet'}

2. Verify if "headphones" exists in the `products` set  using the `in` operator

In [19]:
# put your answer here
print("headphones" in products)

True

## Dictionaries

1. Create a dictionary of your favorites

- Keys should be the type
- Values should be the sample from that type

Example:

food: friedchicken

color: blue

sport: badminton

drink: mangojuice

dessert: cheesetart

In [21]:
# put your answer here
faves = {"food:": "pininyahan", "color": "black", 'sport:': 'basketball', 'drink:': 'any mango drink', 'dessert:': 'eggpie'}
print(faves)

{'food:': 'pininyahan', 'color': 'black', 'sport:': 'basketball', 'drink:': 'any mango drink', 'dessert:': 'eggpie'}

## Loops

1. Write a for loop to iterate all elements of the `month` list. Print each element for every iteration.

In [25]:
# put your answer here
month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
for buwan in month:
  print(buwan)

January
February
March
April
May
June
July
August
September
October
November
December

2. Write a for loop and add a condition to only display the elements in the `month` list that ends with "ber"

In [60]:
# put your answer here
month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
for x in month:
  if x.find('ber') > 0:
    print(x)

September
October
November
December

3. Write a for loop and add a condition to only display the elements in the `month` list that does not end with "ber"

In [61]:
# put your answer here
for i in month:
  if i.find('ber')< 0:
    print(i)

January
February
March
April
May
June
July
August

4. Write a for loop and use `range()` to display your firstname five times

In [ ]:
# put your answer here
for nmes in range(5):
 print ('Mharjanrei')

5. Write a for loop that iterates over the names list to create a usernames list.

To create a username for each name, make everything lowercase and replace spaces with underscores. Running your for loop over the list:

Example:

names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

should create a new list

usernames = ["joey_tribbiani", "monica_geller", "chandler_bing", "phoebe_buffay"]

In [74]:
# put your answer here
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]
username = []
for name in names:
  username.append(name.lower() .replace(" ", '_'))
print(username)

['joey_tribbiani', 'monica_geller', 'chandler_bing', 'phoebe_buffay']

6. Write a while loop to iterate throught the `month` list

- Break the loop if the element ends with "ber"

In [42]:
# put your answer here
month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

counter = 0
while counter < len(month):
  print(month[counter])
  counter = counter + 1
  if month[counter].find('ber') > 0:
    break

January
February
March
April
May
June
July
August

## Functions

1. Write a python function named population_density that takes two arguments, population and land_area, and returns a population density calculated from those values.

The population density can be calculated using this formula:

population_density = population/land_area

In [28]:
# put your answer here
def population_Density(population, land_area):
  return population/land_area

In [31]:
population_Density(100,50)

2.0

2. Write an `averagesteps()` function to compute the average the number of steps you take every day.

- The function should accept a list and compute the average of all elements inside the list

- Create a list with seven elements. The values in the list are your average steps your take everyday.

- Pass the list to the function and call the function

In [37]:
mysteps = [6000, 7000, 5000, 4000, 3000, 2000, 1000]

In [39]:
# put your answer here
def averagesteps(stepslist):
 sum = 0
 for i in stepslist:
  sum = sum + i
  average  = sum/7
 return average

In [40]:
averagesteps(mysteps)

4000.0